extends layout

block content
    h1.title Import Urlists from Twitter Account
    p You are about to import #{listCount} lists from the Twitter account for #{username} to the #{newIdentityProvider} account for #{newUsername}.
    a.button(href="/import") Import Lists